a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 75px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  height: 600px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#banner_sidebar{
  height: 100px;
  width: 150px;
  border-radius: 10px;
  z-index: 999999999;
}
#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}
.uk-section {
  padding-top: 40px;
}
/* .uk-container-small {
  max-width: 990px;
} */
.uk-simalar-post{
  display: flex;
}
.uk-simalar-post-content {
  margin-left: 10px;
}
.uk-simalar-post-content h4 {
  margin: 0 0 10px 0;
}
.uk-simalar-post-media a img {
  height: 90px;
  object-fit: fill;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.uk-navbar-pagination-left,
.uk-navbar-pagination-right{
  width: 18vw;
  height: 8vh;
  box-shadow: 0 0 0 2px;
  border-radius: 3px;
  margin: 5rem 0 5rem 0;
  padding: 10px;
  
}
.uk-navbar-pagination-right {
  text-align: right;
}
.uk-container.uk-container-small {
  text-align: justify;
  max-width: 1124px;
}
.main-content {
  width: 70%;
}
.content-blog {
  border: solid 1px #e5e5e5;
  margin: 15px;
  border-radius: 10px;
}
.sidebar{
  width: 30%;
}
.row{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.uk-navbar-pagination{
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.uk-pagination-label-left,
.uk-pagination-label-right{
  font-weight: 700;
}
.uk-pagination-link-left:before {
  content: "« ";
  color: #66baf8;
  font-weight: 700;
}
.uk-pagination-link-right:after {
  content: " »";
  color: #66baf8;
  font-weight: 700;
}
.content hr.uk-divider-article {
  content: "";
  display: inline-block;
  width: 80%;
  max-width: 100%;
  border-top: 1px solid #e5e5e5;
  vertical-align: top;
}
.uk-divider {
  width: 25%;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
.content hr.uk-divider-categorie {
  width: 50%;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
@media only screen and (max-width: 768px) {
  .row {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
  .uk-navbar-pagination-left, .uk-navbar-pagination-right {
    width: 30vw;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar-item.recent-posts,
  .sidebar-item.categories {
    width: 50%;
    margin-left: 36px;
  }
}

@media only screen and (max-width: 425px){
  .sidebar-item.recent-posts {
    width: 100%;
  }
  .sidebar-item.categories {
    width: 100%;
  }
  .uk-navbar-pagination-left, .uk-navbar-pagination-right {
    width: 33vw;
  }
}